

<div class="container-fluid" id="about"> 

<div ng-include="'/template/nav.html'"></div>

<div class="table-responsive">          

  <table class="table">

  <br><br><br><br>

  <tr class="tableRow">

  	<th>Education</th>

  	<td>Bachelor’s in Information Technology <br>from Vignan Institute of Science and Technology <br>in May 2010</td>

  </tr>

   <tr class="tableRow">

    <th>Over all Experience</th>

    <td>5+ years of experience in designing and developing websites or applications</td>

  </tr>

  <tr class="tableRow">

  	<th>Currently Working</th>

  	<td>Provident Finacial Group</td>

  </tr>

  <tr class="tableRow">

    <th>Strengths</th>

    <td>

      <ul>

        <li>Hardworking</li>

        <li>Quick Grasping</li>

        <li>Positive Attitude</li>

      </ul>

    </td>

  </tr>

  <tr class="tableRow">

  	<td>You can download my resume over here!!</td>

  	<td> 

      <a href="https://drive.google.com/file/d/0BxYjKKr29gluNmJyODctcDBRM3M/view?usp=sharing" target="_blank" type="button" class="btn btn-default" id="resume">

      <span class="glyphicon glyphicon-file"></span> Resume </a>

    </td>

  </tr>

  </table>

  </div>