<div class="container-fluid" id="contact">  

<div ng-include="'/template/nav.html'"></div> 



<div style="margin-left: 10%">

<h1><b>Get in touch with me</b></h1>

<h3>Thank you for checking out my works. You can contact me if you have any queries.</h3>

</div><br><br><br>



<div class="row" id="mail_icons">

	<div class="col-lg-3"></div>

	<img class="img-responsive col-lg-1" src="images/phone_icon.png" >

	<h3 class="col-lg-1">PHONE:</h3>

	<h2 class="col-lg-3"><em>510-766-8226</em></h2>

	

</div><br>



<div class="row" id="details">

	<div class="col-lg-3"></div>

	<img class="img-responsive col-lg-1" src="images/mail-icon.png" >

	<h3 class="col-lg-1">MAIL:</h3>

	<h2 class="col-lg-3"><em>veeramanenivijay96@gmail.com</em></h2>

	<div class="col-lg-3"></div>

</div>