<div class="container-fluid" id="work">  

<div ng-include="'/template/nav.html'"></div> 

<div class="work"><h1>Professional Experience</h1>

<div>

	<div class="row">

		<div class="col-lg-1"></div>

		<div class="col-lg-2 place"><i>Front End/UI Developer</i><br>Provident Financial Group<br> Rhode Island</div>

		<div class="col-lg-1"></div>

		<div class="col-lg-4 description">

			Created a new look for the application that proved to extend easily into redesign efforts and paved the way to establish as a premium brand. Working on one another internal application to enhance the look and functionality of the complete website.

		</div>

		<div class="col-lg-1"></div>

		<div class="col-lg-2 years">Sep 2015 - Current</div>

		<div class="col-lg-1"></div>

	</div>

	<div class="row">	

		<div class="col-lg-1"></div>	

		<div class="col-lg-2 place"><i>UI Developer</i><br>Monsanto<br>St.Louis, MO </div>

		<div class="col-lg-1"></div>

		<div class="col-lg-4 description">

			In this project, we worked on the front-end part of the application. I was actively involved in migration of our project from JQuery to AngularJS. The staging portfolio of the application includes business solutions, consumer-to-consumer insurance, annuities, and employee benefit programs.</div>

		<div class="col-lg-1"></div>

		<div class="col-lg-2 years">Mar 2013 – Aug 2015</div>

		<div class="col-lg-1"></div>

	</div>


	<div class="row">

		<div class="col-lg-1"></div>

		<div class="col-lg-2 place"><i>UI Developer</i><br>Santander Consumer USA Inc.<br>Dallas, TX </div>

		<div class="col-lg-1"></div>

		<div class="col-lg-4 description">

			Was involved in different projects for the development and support to e-Commerce including both online banking and dotcom operations. Worked on migrating Account Balance History functionality from legacy application where the screen provides historical snapshot user 				transactions as recorded. User can see how and why the balance changed over time, and when a change may have triggered a fee.

		</div>

		<div class="col-lg-1"></div>

		<div class="col-lg-2 years">Feb 2012 to Feb 2013</div>

		<div class="col-lg-1"></div>

	</div>

</div>

</div>
</div>


<!-- Button trigger modal -->

<!-- <button ng-click="open()" class="btn btn-primary" id="btn-work" data-toggle="modal" data-target=".bd-example-modal-lg"> MY WORK</button>
 -->


<!-- Modal -->

<!-- <div  modal="showModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-lg">

    <div class="modal-content">

      <div class="modal-header">

        <h5 class="modal-title" id="ModalLabel"></h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

          <span aria-hidden="true">&times;</span>

        </button>

      </div>

      <div class="modal-body">

 -->        

        <!-- Carousel -->
<!-- 
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
 -->
        <!-- Indicators -->

<!--       <ol class="carousel-indicators">

        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>

        <li data-target="#myCarousel" data-slide-to="1"></li>

        <li data-target="#myCarousel" data-slide-to="2"></li>

        <li data-target="#myCarousel" data-slide-to="3"></li>

        <li data-target="#myCarousel" data-slide-to="4"></li>

        <li data-target="#myCarousel" data-slide-to="5"></li>

      </ol>
 -->
        

<!--     <div class="carousel-inner" role="listbox">

        <div class="item active">

            <center><img class="img-responsive" src="images/cvs.png" alt="myWork"></center>

          </div>

        <div class="item">

           <center><img class="img-responsive" src="images/coach1.png" alt="myWork"></center>

        </div>

         <div class="item">

           <center><img class="img-responsive" src="images/coach.png" alt="myWork"></center>

        </div>

        <div class="item">

           <center><img class="img-responsive" src="images/enterprise.png" alt="myWork"></center>

        </div>

        <div class="item">

           <center><img class="img-responsive" src="images/syntel.png" alt="myWork"></center>

        </div>

        <div class="item">

           <center><img class="img-responsive" src="images/cvs1.png" alt="myWork"></center>

        </div>

    </div>

    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">

      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>

      <span class="sr-only">Previous</span>

    </a>

    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">

      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>

      <span class="sr-only">Next</span>

    </a>

    </div>

      </div>

      <div class="modal-footer">

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>

    </div>

  </div>
 -->

